body{
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10%;
    
}
h1 {
    color: rgb(214, 3, 3);
   display: grid;
   justify-content: center;
   align-items: center;
}
form{
    display: grid;
    justify-content: center;
    align-items: center;
}
label{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
h6{
    display: grid;
    align-content: end;
    justify-content: center;
    margin-top: 40%;
   
    
    
}