body{
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
h1 {
    color: rgb(214, 3, 3);
   display: grid;
   justify-content: center;
   align-items: center;
}
form{
    font-size: medium;
}